<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= title_content %></title>
	<%= shared_stylesheet_link_tag "raster" %>
	<%= shared_stylesheet_link_tag "../js/bullets/example/css/bullets" %>
	<%= shared_javascript_include_tag "mousetrap" %>
	<%= shared_javascript_include_tag "zepto" %>
	<%= shared_javascript_include_tag "bullets/bullets" %>
	<%= shared_javascript_include_tag "bullets/example/js/mousetrap_config" %>
	<script type="text/javascript" src="js/wcmarkdown.js"></script>
</head>
<body>
	<%= body_content %>
</body>
</html>
